.login{
    height: 95vh;
    .card{
        width: 25rem;
        height: 28rem;
        background: rgba(245, 252, 255, 1);
        border-radius: 20px;
        box-shadow: 0px 0px 7px #D2D2D2;
        padding: 5rem;
    }
}