@font-face {
  font-family: "custom-font-light";
  src: url("./assets/fonts/NeoSansArabicLight.ttf") format("truetype");
}
@font-face {
  font-family: "custom-font-regular";
  src: url("./assets/fonts/Neo\ Sans\ Arabic\ Regular.ttf") format("truetype");
}
@font-face {
  font-family: "custom-font-bold";
  src: url("./assets/fonts/NeoSansArabicBold.ttf") format("truetype");
}
@font-face {
  font-family: "custom-font-extra";
  src: url("./assets/fonts/NeoSansArabicUltra.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
